<br/>
<br/>
<div class="container" style="width:25rem;">
  <div class="card-deck flex-row flex-nowrap text-center ">
    <a routerLink="/user-main" style="text-decoration: none;">
      <div class="card " style=" background-color: antiquewhite;">
        <div class="card-body">
          <h3 class="card-sub align-middle" style="color: aqua">User</h3>
        </div>
      </div>
    </a>
  </div>
</div>
<br/>
<div class="container" style="width:25rem;">
  <div class="card-deck flex-row flex-nowrap text-center ">
    <a routerLink="/employee-main" style="text-decoration: none;">
      <div class="card " style=" background-color: antiquewhite;">
        <div class="card-body">
          <h3 class="card-sub align-middle" style="color: aqua">Employee</h3>
        </div>
      </div>
    </a>
  </div>
</div>
<br/>
<div class="container" style="width:25rem;">
  <div class="card-deck flex-row flex-nowrap text-center ">
    <a routerLink="/admin-main" style="text-decoration: none;">
      <div class="card " style=" background-color: antiquewhite;">
        <div class="card-body">
          <h3 class="card-sub align-middle" style="color: aqua">Admin</h3>
        </div>
      </div>
    </a>
  </div>
</div>
